/*
.App
{
    margin: 5px; 
    padding: 0; 
}
button
{
    align-self: center;
    width: 60px;
    height: 20px;
    background-color: red;
}
button:hover
{
    background-color: yellow;
    
}
input
{
    width: 100px;
    align-self: center;
}
div{
display: flex;
justify-content: center;
color:blue;
border: 3px solid red;
font-size: 1.5rem;
padding: .6rem;
margin: 0 30% 0 30%;
object-fit: contain;
}
div h1
{
    align-self: center;
    font-size: 1rem;
    color: blue;

}




select
{
    width: 80px;
    margin: 5px;
    align-self: center;
}

*/