/*
.App
{
    margin: 5px; 
    padding: 0; 
}
button
{
    align-self: center;
    width: 60px;
    height: 20px;
    background-color: red;
}
button:hover
{
    background-color: yellow;
    
}
input
{
    width: 100px;
    align-self: center;
}
div{
display: flex;
justify-content: center;
color:blue;
border: 3px solid red;
font-size: 1.5rem;
padding: .6rem;
margin: 0 30% 0 30%;
object-fit: contain;
}
div h1
{
    align-self: center;
    font-size: 1rem;
    color: blue;

}




select
{
    width: 80px;
    margin: 5px;
    align-self: center;
}
<<<<<<< HEAD

*/
=======
.it 
{
    border: 2px solid green;
    margin-left: 35%;
    margin-right: 35%;
    background: black;
}
.it input
{
    margin: 6px;
    background: white;
    color: black;
}
.it button
{
    width: 90px;
    height: 40px;
    margin-bottom: 5px;
    
}
.loading
{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color:chartreuse;
  height:70px;
  width:70px;
  top:9%;
  left:50%;
  
  background:red;
  align-self:center;
  animation-name:rotation;
  animation-duration:7s;
  animation-iteration-count:infinite;
}
.name h1
{
    color: red;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
}
@keyframes rotation
{
  0%
  {
    transform:rotate(0deg)
  }
  25%  {transform:rotate(90deg)}
  50%  {transform:rotate(180deg)}
  75%  {transform:rotate(270deg)}
  100% {transform:rotate(360deg)}
}
>>>>>>> 26874012953c1879930aa5cb1b95855032c9410d
